body {
  background: #090909;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #28282b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: #28282b;
}

*::-webkit-scrollbar-thumb {
  background-color: #f0ad4e;
  border-radius: 10px;
  border: 3px solid #28282b;
}
