.cb_main_parent {
  margin-top: 8rem;
}

.cb_subparent1 {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.cb_leftdiv {
  width: 450px;
  max-width: 450px;
}

.cb_rightdiv {
  text-align: right;
  width: 50%;
  padding-top: 20px;
}
.cb_rightdiv_p1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 70px;
  margin-bottom: 1.5rem !important;
  color: #f0ad4e;
  text-align: right;
}

.cb_rightdiv_p2 {
  font-family: "Poppins", sans-serif;
  width: 70%;
  color: white;
  font-size: 1rem;
  line-height: 1.8;

  letter-spacing: 1px;
  margin-bottom: 10px;
}

.cb_rightdiv_btn {
  background: #a87ff3;
  box-shadow: 0px 0px 50px -10px rgba(151, 71, 255, 0.08);
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 6px;
  margin-top: 2rem;
  padding: 10px 20px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  width: auto;
  margin: auto;
}

@media screen and (max-width: 430px) {
  .cb_main_parent {
    margin-top: 5rem;
  }

  .cb_subparent1 {
    flex-direction: column-reverse;
  }
  .cb_leftdiv {
    max-width: 95vw;
    min-width: 95vw;
    width: auto;
  }
  .cb_rightdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .cb_rightdiv_p1 {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 50px;
    margin-bottom: 1.5rem !important;
    color: #f0ad4e;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .cb_rightdiv_p2 {
    width: 100%;
  }

  .cb_rightdiv_btn {
    font-weight: 600;
    cursor: pointer;
    width: auto;
    margin: auto;
  }
}
