/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #211d1d;
  color: #fff;
  padding: 140px;
  margin-top: 30px;
}

/* Footer links */
footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

footer a:hover {
  color: #fefff5;
}

/* Footer logo */
.footer-logo {
  font-size: 2em;
  font-weight: bold;
  text-transform: none;
  letter-spacing: 0em;
  margin-bottom: 30px;
  border-bottom: 1px solid #fff;
    padding-bottom: 15px;
}

/* Footer social media icons */
.footer-social-icons {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.footer-social-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition: 0.3s;
}

.footer-social-icon:hover {
  background-color: #f0ad4e;
}

.footer-social-icon img {
  width: 20px;
  height: 20px;
}

/* Footer copyright */
.footer-copyright {
  font-size: 1.3em;
  font-weight: none;
  margin-left: 0;
  align-items: center;
  margin-right: 0;
  text-align: center;
}

.footer-made-by {
  font-size: 0.8em;
  text-align: center;
  font-weight: none;
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.scroll-to-top-btn:hover {
  background: rgb(18, 172, 196);
}
