.HeroBannerDesktop_Parentdiv {
  margin-top: 6rem;
}

@media screen and (max-width: 430px) {
  .HeroBannerDesktop_Parentdiv {
    margin-top: 3rem !important;
  }
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.scroll-to-top-btn:hover {
  background: rgb(18, 172, 196);
}
