.pr_main_parent {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
}

.pr_subparent {
  text-align: center;
  max-width: 70%;
}

.pr_p1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 70px;
  margin-bottom: 1.5rem !important;
  color: #f0ad4e;
}

.pr_p2div {
  display: flex;
  justify-content: center;
}

.pr_p2 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 1px;
  margin-bottom: 10px;
  width: 70%;
  margin-bottom: 20px;
}

.pr_explorebtn {
  background: #f0ad4e;
  box-shadow: 0px 0px 50px -10px rgb(151 71 255 / 8%);
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 6px;
  margin-top: 2rem;
  padding: 10px 20px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  width: auto;
  margin: auto;
}

/* //* MOBILE */
@media screen and (max-width: 430px) {
  .pr_main_parent {
    margin-top: 5rem;
  }
  .pr_subparent {
    max-width: 100%;
  }

  .pr_p1 {
    font-size: 3rem;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }
  .pr_p2 {
    width: 100%;
  }
}
