.signup_subparent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 375px;
}

.signup_main_parent {
  height: 100vh;
  padding-top: 5rem;
}
.signup_img {
  max-width: 480px;
}

.signup_textdiv {
  width: 50%;
  margin-left: 5rem;
}

.signup_form {
  margin-top: 3rem;
  width: 80%;
}

.signup_textdiv_p1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 70px;
  color: #f0ad4e;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.form-label {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.2rem;

  letter-spacing: 1px;
}

input {
  background-color: #28282b !important;
  color: white !important;
  font-family: "Poppins", sans-serif;
  font-size: 1rem !important;
}

input:focus {
  -webkit-box-shadow: 1px 1px 27px 6px rgba(232, 145, 6, 0.36) !important;
  -moz-box-shadow: 1px 1px 27px 6px rgba(232, 145, 6, 0.36) !important;
  box-shadow: 1px 1px 27px 6px rgba(232, 145, 6, 0.36) !important;
}

.signup_btn {
  /* background-color: #d58af6; */
  background: #f0ad4e;
  box-shadow: 0px 0px 50px -10px rgba(151, 71, 255, 0.08);
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 6px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 10px 20px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}

.signup_btn:hover {
  background: #eef604;
  box-shadow: 0px 0px 50px -10px rgba(151, 71, 255, 0.08);
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 6px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 10px 20px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}

.signup_textdiv_p2 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 1px;
}

.signup_textdiv_span2 {
  text-decoration: underline;
  cursor: pointer;
}

.signup_btndiv {
  display: flex;
  justify-content: center;
}

.signup_continuewithdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_hr {
  color: white;
  height: 2px;
  width: 100px;
  background-color: white;
}

.signup_continuewithdiv p {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 10px;
}

.signup_social_iconsdiv {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.signup_social_iconsdiv div {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.signup_social_icons {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  cursor: pointer;
}

/* //* MOBILE */
@media screen and (max-width: 430px) {
  .signup_subparent {
    flex-direction: column;
    align-items: center;
  }

  .signup_img {
    display: none;
  }

  .signup_form {
    width: 100%;
  }

  .signup_textdiv {
    margin: auto;
    width: 95%;
  }

  .signup_textdiv_p1 {
    text-align: center;
  }

  .signup_btndiv {
    display: flex;
    justify-content: center;
  }
}
