.cloud-sub {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cloud-sub {
    font-size: 2rem;
    margin: 1rem 0;
    
  }
  .cloud-sub:hover{
    color: orange;
  }
  
  
  ul {
    width: 80%;
    display:contents;
    flex-direction: column; /* change this */
    list-style: outside;
    padding: 0;
  }
  
  li {
    width: 30%;
    margin-bottom: 1rem;
  }
  
  
  a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    display: absolute;
    text-align: center;
  
  }
  
  @media (max-width: 600px) {
    ul {
      width: 90%;
    }
  
    li {
      width: 45%;
    }
  }
  